# --- CONFIGURACIÓN GLOBAL SGAI-IoT ---

# ÁREA 2: CREDENCIALES MQTT
MQTT_USER=admin_avicola
MQTT_PASSWORD=gallina_inteligente_2025

# ÁREA 4: BASE DE DATOS MARIADB
MYSQL_ROOT_PASSWORD=root_password_change_me
MYSQL_DATABASE=telemetria_avicola
MYSQL_USER=user_area_4
MYSQL_PASSWORD=password_area_4