# ==========================================================
# PLANTILLA DE CONFIGURACIÓN - PROYECTO GRANJA INTELIGENTE
# Instrucciones: Copia este archivo como '.env' y completa los datos.
# ==========================================================

# --- INFRAESTRUCTURA (Área 2) --- 
MQTT_USER=tu_usuario_mqtt_aqui
MQTT_PASSWORD=tu_password_mqtt_seguro

# --- TELEMETRÍA INFLUXDB (Área 2) --- 
DOCKER_INFLUXDB_INIT_MODE=setup 
DOCKER_INFLUXDB_INIT_USERNAME=admin 
DOCKER_INFLUXDB_INIT_PASSWORD=tu_password_seguro_influx
DOCKER_INFLUXDB_INIT_ORG=granja_iot 
DOCKER_INFLUXDB_INIT_BUCKET=sensor_data 

# --- PERSISTENCIA MARIADB (Área 4) --- 
# Estos datos deben coincidir con la configuración de la PC Central
MARIADB_ROOT_PASSWORD=password_maestro_db
MARIADB_DATABASE=sistema_avicola 
MARIADB_USER=hmi_user 
MARIADB_PASSWORD=password_usuario_sql

# --- RED E INTERFACES (Área 3 y Área 2) --- 
# IP de la computadora donde corre la base de datos MariaDB (Capa de Datos)
DB_HOST=192.168.1.100
# Nombre del contenedor del broker MQTT (usar 'mosquitto_broker' por defecto)
MQTT_HOST=mosquitto_broker 
UDP_PORT=5005