# =================================================
# DATOS PERSISTENTES DE DOCKER
# =================================================
**/mosquitto/data/
**/mosquitto/log/
**/mysql_data/
**/mysql_data_area4/
**/influxdb_data/

# --- Ajuste para Node-RED ---
**/node_red_data/*
!**/node_red_data/flows.json
!**/node_red_data/settings.js

# =================================================
# CREDENCIALES Y CONFIGURACIÓN LOCAL
# =================================================
.env
# .env.example  <-- ELIMINA O COMENTA ESTA LÍNEA para que sí se suba
**/mosquitto/config/mosquitto.passwd