# =================================================
# DATOS PERSISTENTES DE DOCKER (No se suben)
# =================================================
**/mosquitto/data/
**/mosquitto/log/
**/node_red_data/
**/mysql_data/
**/mysql_data_area4/
**/influxdb_data/

# =================================================
# CREDENCIALES Y CONFIGURACIÓN LOCAL
# =================================================
.env
.env.example
**/mosquitto/config/mosquitto.passwd

# =================================================
# PYTHON Y HMI (ÁREA 3)
# =================================================
**/__pycache__/
**/*.py[cod]
**/.venv/
**/env/

# =================================================
# ARCHIVOS DE SISTEMA Y EDICIÓN
# =================================================
.vscode/
.DS_Store
Thumbs.db